.main{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 50px auto;

    .numbers{
        display: flex;
        gap: 20px;
        justify-content: space-between;

        small{
            max-height:50px;
            background-color: white;
            align-self: center;
            text-align: start;
            padding:6px 2px 6px 5px;

            &::before{
                content: "Total : ";
                color: #111;
                
            }
        }
        
    }
    button{
        width: 100%;
        padding: 10px;
        background-color: purple;
        border: 3px solid transparent;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;
        color: white;
        &:hover{
            background-color: rgba(186, 6, 186, 0.791);
            letter-spacing: 3px;
        }
    }

}



input{
    width: 100%;
    margin: 20px auto;
    /* display: block; */
    padding: 10px;
    height: 40px;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 5px;
    transition: 0.5s;
    color: white;


}

small{
    min-width: 70px;
    color: #111;
}


@media (max-width:768px){
    .numbers{
        flex-wrap: wrap;
    }
}